<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table-2 Exercise</title>
    <link rel="stylesheet" href="../css/table2.css">
</head>
<body>

    <main>
        <table>
            <caption>Table: EMPLOYEE</caption>
            <thead>
                <th>TCode</th>
                <th>TName</th>
                <th>DepCode</th>
                <th>Salary</th>
                <th>Age</th>
                <th>JoinDate</th>
            </thead>
            <tbody>
                <tr>
                    <td>15</td>
                    <td>Sameer Sharma</td>
                    <td>123</td>
                    <td>75000</td>
                    <td>39</td>
                    <td>01-Apr-2007</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Vatsal Patel</td>
                    <td>232</td>
                    <td>46728</td>
                    <td>34</td>
                    <td>30-June-2021</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Sameer Sharma</td>
                    <td>123</td>
                    <td>75000</td>
                    <td>39</td>
                    <td>01-Apr-2007</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Vatsal Patel</td>
                    <td>232</td>
                    <td>46728</td>
                    <td>34</td>
                    <td>30-June-2021</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Sameer Sharma</td>
                    <td>123</td>
                    <td>75000</td>
                    <td>39</td>
                    <td>01-Apr-2007</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Vatsal Patel</td>
                    <td>232</td>
                    <td>46728</td>
                    <td>34</td>
                    <td>30-June-2021</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Sameer Sharma</td>
                    <td>123</td>
                    <td>75000</td>
                    <td>39</td>
                    <td>01-Apr-2007</td>
                </tr>
            </tbody>
        </table>
    </main>
    
</body>
</html>