<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table-1 Exercise</title>
    <link rel="stylesheet" href="../css/table1.css" />
  </head>
  <body>
    <main>
      <table cellspacing="0">
        <thead>
          <th></th>
          <th>Account Name</th>
          <th>Type</th>
          <th>Account Number</th>
          <th>DCY</th>
          <th>Balance</th>
          <th>Last Transfer</th>
          <th>Trustworthiness</th>
          <th>Status</th>
          <th></th>
        </thead>

        <tbody>
          <tr class="selected">
            <td>
              <img
                class="greentick"
                src="../images/green-tick.svg"
                alt="Greentick"
              />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/greenflag.jpeg" alt="" />
                <p>Perfect</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/activedot.jpeg" alt="" />
                <p>Active</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr class="selected">
            <td>
              <img
                class="greentick"
                src="../images/green-tick.svg"
                alt="Greentick"
              />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/blueflag.jpeg" alt="" />
                <p>Sufficient</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/activedot.jpeg" alt="" />
                <p>Active</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr>
            <td>
              <img class="circle" src="../images/circle.jpeg" alt="Greentick" />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/blueflag.jpeg" alt="" />
                <p>Sufficient</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img
                  class="flag status-disabled"
                  src="../images/activedot.jpeg"
                  alt=""
                />
                <p>Disabled</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr>
            <td>
              <img class="circle" src="../images/circle.jpeg" alt="Greentick" />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/greenflag.jpeg" alt="" />
                <p>Perfect</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/activedot.jpeg" alt="" />
                <p>Active</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr>
            <td>
              <img class="circle" src="../images/circle.jpeg" alt="Greentick" />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/blueflag.jpeg" alt="" />
                <p>Sufficient</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/activedot.jpeg" alt="" />
                <p>Active</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr>
            <td>
              <img class="circle" src="../images/circle.jpeg" alt="Greentick" />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/purpleflag.jpeg" alt="" />
                <p>Unsufficient</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img
                  class="flag status-disabled"
                  src="../images/activedot.jpeg"
                  alt=""
                />
                <p>Disabled</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr class="selected">
            <td>
              <img
                class="greentick"
                src="../images/green-tick.svg"
                alt="Greentick"
              />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/blueflag.jpeg" alt="" />
                <p>Sufficient</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/activedot.jpeg" alt="" />
                <p>Active</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr>
            <td>
              <img class="circle" src="../images/circle.jpeg" alt="Greentick" />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/blueflag.jpeg" alt="" />
                <p>Sufficient</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/activedot.jpeg" alt="" />
                <p>Active</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr class="selected">
            <td>
              <img
                class="greentick"
                src="../images/green-tick.svg"
                alt="Greentick"
              />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/blueflag.jpeg" alt="" />
                <p>Sufficient</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/activedot.jpeg" alt="" />
                <p>Active</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr>
            <td>
              <img class="circle" src="../images/circle.jpeg" alt="Greentick" />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img
                  class="flag"
                  src="../images/greenflag.jpeg"
                  style="filter: grayscale(1)"
                  alt=""
                />
                <p>Checking</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/activedot.jpeg" alt="" />
                <p>Active</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr>
            <td>
              <img class="circle" src="../images/circle.jpeg" alt="Greentick" />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/redflag.jpeg" alt="" />
                <p>New</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/activedot.jpeg" alt="" />
                <p>Active</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr class="selected">
            <td>
              <img
                class="greentick"
                src="../images/green-tick.svg"
                alt="Greentick"
              />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/greenflag.jpeg" alt="" />
                <p>Perfect</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/activedot.jpeg" alt="" />
                <p>Active</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr>
            <td>
              <img class="circle" src="../images/circle.jpeg" alt="Greentick" />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/redflag.jpeg" alt="" />
                <p>New</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/activedot.jpeg" alt="" />
                <p>Active</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

          <tr>
            <td>
              <img class="circle" src="../images/circle.jpeg" alt="Greentick" />
            </td>
            <td>Olivia Smith -- USD</td>
            <td>Business</td>
            <td>874512458754</td>
            <td>USD</td>
            <td>4587.52</td>
            <td>10 Dec 2017</td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/redflag.jpeg" alt="" />
                <p>New</p>
              </div>
            </td>
            <td>
              <div class="flag-box">
                <img class="flag" src="../images/activedot.jpeg" alt="" />
                <p>Active</p>
              </div>
            </td>
            <td><img class="more" src="../images/more.jpeg" alt="" /></td>
          </tr>

        </tbody>
      </table>

    </main>
  </body>
</html>
